<div class="d-flex flex-row justify-content-center flex-wrap">
    <% posts.forEach(function(post){ %>
        <div class="card-container p-2 col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="<%=post.url%>" alt="Card image cap">
                <div class="card-body">
                    <!-- <h4 class="card-title">Card title</h4> -->
                    <p class="card-text">
                        <%=post.desc %>
                    </p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" data-id="<%=post._id%>">
                        <i class="fas fa-trash"></i>
                    </button>
                    <a class="btn btn-primary" href="/posts/edit/<%=post._id%>">
                        <i class="fas fa-edit"></i>
                    </a>

                </div>
            </div>
        </div>
        <% }); %>
</div>
<!-- Delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Do you want to delete this post?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a id="deleteLink" data-href="/posts/delete/" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>