<ul class="list-group">
    <% result.forEach(function(result){ %>
        
      <li class="list-group-item justify-content-between">
        <%= result.username%>
        <span class="btn btn-info"><i class="fas fa-plus"></i></ul></span>
      </li>
    <% }); %>  
</ul>