<html>
    <head>
        <title>koa ejs</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/bootstrap.css">
    </head>
    <body>
        <%- include('layout/header'); %>
        <main class="container">
            <%- body %>
        </main>
        <script src="js/popper.js"></script>
        <script src="js/jquery-3.2.1.js"></script>
        <script src="js/bootstrap.js"></script>
    </body>
</html>